#art-container {
	width: 100%;
	height: fit-content;

	display: flex;
	justify-content: center;
}

#within-art {
	position: absolute;
	z-index: 2;
	display: flex;
	gap: 0px;
}

#checker-box {
	display: flex;
	flex-wrap: wrap;

	width: 500px;
	height: 500px;
	border: 3px solid black;
}

#checker-box > span {
	display: block;
	background-color: black;
	width: 100px;
	height: 100px;
}
#checker-box > span:nth-child(even) {
	background-color: white;
}

.circle {
	width: 2em;
	height: 2em;
	outline: 2px solid black;
	border-radius: 50%;
	margin: 0px -0.25em 0px 0px;
}
.above {
	background-color: pink;
	z-index: 2;
}
.below {
	background-color: indigo;
	z-index: 1;
}

@media (max-width: 650px) {

	#checker-box {
		width: 250px;
		height: 250px;
	}

	#checker-box > span {
		width: 50px;
		height: 50px;
	}

	.circle {
		width: 1em;
		height: 1em;
	}
}
@media (max-width: 350px) {

	#checker-box {
		width: 125px;
		height: 125px;
	}

	#checker-box > span {
		width: 25px;
		height: 25px;
	}

	.circle {
		width: 0.5em;
		height: 0.5em;
	}
}


.center-box {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;
	text-align: center;

	font-size: 120%;
	gap: 1.5em;
}

body {
	background-color: thistle;
}

p {
	font-size: 4em;
}

input[type=submit] {
	font-size: 1.5em;
	padding: 10px;
	background-color: lavender;
	border: 3px outset purple;
	color: purple;
}
input[type=submit]:hover {
	color: plum;
	border: 3px inset plum;
	transition-duration: 0.15s;
}

input[type=text], input[type=email] {
	box-shadow: 2px 3px 0px black;
}